.profileContainer {
	padding: 2rem 3rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}

.profileContainer > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.tableTopMenu {
	display: flex;
	justify-content: space-between;
}

.tableTopMenu > div {
	display: flex;
	gap: 1rem;
}

.tableTopMenu :is(button, a) {
	padding: 0.5rem;

	font-weight: 500;
	background-color: var(--bg-grey2);
	border-radius: 0.5rem;
}

.active {
	color: var(--clr-blue);
}

/* watchlist */

.watchList {
	display: flex;
	flex-direction: column;
}

.watchList > div {
	display: flex;
	align-items: center;
}

.watchList > div > div {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
}

.watchList > div > div:first-child {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.25rem;
}
