.homeContainer {
	padding: 2rem 3rem;

	/* gap: 2rem; */

	/* overflow-y: hidden; */
}

.header {
	margin-bottom: 2rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.subHeader {
	display: flex;
	align-items: center;

	color: var(--grey-text);
}

.trending {
	margin-bottom: 1rem;

	display: flex;
	gap: 1rem;
}

.trending > div {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;

	background: white;
	border-radius: 0.5rem;
	box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
		rgba(88, 102, 126, 0.12) 0px 1px 2px;
}

.trending h3 {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

/* .trending > div:nth-child(2) {
	border-left: 1px solid var(--grey-border);
	padding-left: 2rem;
} */

.trendingCoins {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.trendingCoin {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trendingCoin > div:first-child {
	display: flex;
	gap: 1rem;
}

.trendingCoinTitle {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.trendingCoinTitle img {
	border-radius: 50%;
	transform: scale(0.9);
}

.body {
	/* position: relative; */

	width: 100%;
	display: flex;
	flex-direction: column;

	/* overflow-y: overlay; */
}

.coinListHeader {
	position: sticky;
	top: 0;
	padding: 1rem 0;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: row;

	border-bottom: 0.5px solid var(--grey-border);
	background: white;
	font-weight: 500;
	font-size: 1rem;
}

.coinListHeader > div {
	text-align: right;
	flex-basis: 100%;
}

.coinListHeader div:first-child {
	display: flex;
	gap: 1rem;
	/* justify-content: flex-start; */
	/* gap: 0.5rem; */
}

.coinListHeader div:first-child > div {
	text-align: left;
}

.coinListHeader div:first-child > i {
	visibility: hidden;
}

.coinListHeader > div:first-child > div:first-child {
	display: flex;
	justify-content: space-between;
	/* flex: 1; */
}

.coinListHeader > div:first-child > div:last-child {
	/* flex: 3; */
}

.coinItem {
	display: flex;
}

.coinItem > div {
	flex-basis: 100%;
	text-align: right;
}

.coinItemTitle {
	display: flex;
	gap: 1rem;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.coinItemTitle > div:first-child {
	/* margin-right: 0.5rem; */

	display: flex;
	gap: 1rem;
	/* justify-content: space-between; */
	/* flex: 1; */
	/* width: 25%; */
}

.coinItemTitle > div:last-child {
	/* flex: 3; */
	/* width: 75%; */

	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
	.trending {
		flex-direction: column;
	}
}
