.homeContainer {
	padding: 2rem 3rem;
	/* gap: 2rem; */

	/* overflow-y hidden will be key for the exchange page */
	/* overflow-y: hidden; */
	gap: 2rem;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	line-height: 2rem;
}

.subHeader {
	display: block;

	color: var(--grey-text);
	line-height: 1.5rem;
}

.trending {
	display: flex;
	gap: 1rem;
}

.trending > div {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;

	background: white;
	border-radius: 0.5rem;
	box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
		rgba(88, 102, 126, 0.12) 0px 1px 2px;
}

.trending h3 {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

/* .trending > div:nth-child(2) {
	border-left: 1px solid var(--grey-border);
	padding-left: 2rem;
} */

.trendingCoins {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.trendingCoin {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trendingCoin > div:first-child {
	display: flex;
	gap: 1rem;
}

.trendingCoinTitle {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.trendingCoinTitle img {
	border-radius: 50%;
	transform: scale(0.9);
}

.trendingCoin img {
	height: 25px;
	width: 25px;
}

.body {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.coinListHeader {
	position: sticky;
	top: 0;
	padding: 1rem 0.5rem;
	/* margin-bottom: 1rem; */

	display: flex;
	flex-direction: row;

	border-bottom: 0.5px solid var(--grey-border);
	background: white;
	font-weight: 500;
	font-size: 1rem;
}

.coinListHeader > button {
	text-align: right;
	flex-basis: 100%;
}

.coinListHeader > div {
	text-align: right;
	flex-basis: 100%;
}

.coinListHeader > div i {
	margin-right: 0.5rem;
}

.coinListHeader > button i {
	margin-right: 0.5rem;
}

.coinHeaderTitle {
	display: flex;
	text-align: left;
}

.coinHeaderTitle i {
	margin-right: 0 !important;
}

.coinHeaderTitle > div:first-child {
	display: flex;
	gap: 1rem;
	flex: 1;
}

.coinHeaderTitle > div:last-child {
	display: flex;
	justify-content: flex-start;
	flex: 1.5;
}

.coinHeaderTitle i {
	visibility: hidden;
	margin-right: 0;
}

.coinItem {
	padding: 1rem 0.5rem;

	display: flex;

	border-bottom: 0.5px solid var(--grey-border);
	cursor: pointer;
}

.coinItem:hover {
	background-color: rgb(248, 250, 253);
}

.coinItem > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	flex-basis: 100%;
	/* text-align: right; */
}

.coinItemTitle {
	display: flex;
	justify-content: flex-start !important;
	/* gap: 1rem; */
	/* text-align: left; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.coinItemTitle > div:first-child {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex: 1;
}

.coinItemTitle > div:last-child {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	flex: 1.5;

	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.coinItemTitle img {
	height: 25px;
	width: 25px;
}

@media (max-width: 1200px) {
	.coinListHeader > *:nth-last-child(-n + 2) {
		display: none;
	}
	.coinItem > *:nth-last-child(-n + 2) {
		display: none;
	}
}

@media (max-width: 900px) {
	.trending {
		flex-direction: column;
	}
	.coinListHeader > *:nth-last-child(-n + 3) {
		display: none;
	}
	.coinItem > *:nth-last-child(-n + 3) {
		display: none;
	}
}

@media (max-width: 600px) {
	.coinListHeader > *:nth-last-child(-n + 5) {
		display: none;
	}
	.coinItem > *:nth-last-child(-n + 5) {
		display: none;
	}
}
