.exchangeContainer {
	padding: 2rem 3rem;
	flex-basis: 100%;

	display: flex;
	flex-direction: row;
	gap: 2rem;

	background: linear-gradient(
		rgb(248, 250, 253) 0%,
		rgba(248, 250, 253, 0) 413px
	);
	overflow-y: hidden;
}

.exchangeTables {
	flex: 3;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.exchangeTables > div {
	/* padding: 1rem; */
	flex-basis: 100%;

	box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
		rgba(88, 102, 126, 0.12) 0px 1px 2px;
	background: white;
	border-radius: 0.5rem;
	border: 0.5px solid var(--grey-border);
}

.assets,
.transactions {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	overflow: hidden;
	/* overflow-y: auto; */
}

:is(.orderHistoryTable, .pnlTable) img {
	height: 25px;
	width: 25px;
	border-radius: 25%;
}

:is(.orderHistoryTable, .pnlTable) {
	overflow-y: auto;
}

:is(.transactions, .assets) > div:first-child {
	padding: 1rem 1rem 0rem;

	font-size: 1.25rem;
	font-weight: 500;
}

/* OrderTable */

:is(.orderHistoryTable, .pnlTable) header {
	position: sticky;
	top: 0;
	padding: 0.5rem 1rem;

	display: flex;

	border-top: 0.5px solid var(--grey-border);
	border-bottom: 0.5px solid var(--grey-border);
	font-weight: 500;
	background: white;
}

:is(.orderHistoryTable, .pnlTable) header > div {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
}

:is(.orderHistoryTable, .pnlTable) header > div:first-child {
	justify-content: flex-start;
}

:is(.orderHistoryTable, .pnlTable) > div {
	padding: 0.5rem 1rem;
	display: flex;
}

.orderItem,
.pnlItem {
	padding: 0.5rem 0;
	border-bottom: 0.5px solid var(--grey-border);
}

.orderHistoryTable > .orderItem:last-child {
	border-bottom: none;
}

:is(.orderItem, .pnlItem) > div {
	flex-basis: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
}

:is(.orderItem, .pnlItem) > div:first-child {
	justify-content: flex-start;
}

/* Order Form */

.exchangeForms {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.exchangeForms > div {
	/* padding: 1rem; */

	box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
		rgba(88, 102, 126, 0.12) 0px 1px 2px;
	background: white;
	border-radius: 0.5rem;
	border: 0.5px solid var(--grey-border);
}

.typeSelector {
	display: flex;
}

.typeSelector > div:first-child {
	border-right: 0.5px solid var(--grey-border);
}

.typeSelector > div {
	flex-basis: 100%;
	padding: 1rem;

	display: flex;
	justify-content: center;
	cursor: pointer;

	border-bottom: 0.5px solid var(--grey-border);
}

.typeSelector > div:hover {
	background: rgb(250, 250, 250);
}

.selected {
	border-bottom: none !important;
}

.formDiv {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.inputContainer {
	padding: 0.25rem 0.5rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.1rem;

	border-radius: 0.5rem;
	border: 1px solid var(--grey-border);
	font-size: 1rem;
	color: var(--clr-grey);
}

.inputContainer input {
	padding: 0.25rem;

	width: 100%;
	height: 100%;
	border-bottom: none;
	border-color: transparent;
	color: var(--clr-grey);
	font-size: 1rem;
	background: white;
}

.formDiv select {
	padding: 0.65rem !important;
	width: 100%;
}

.formDiv :is(input, select):focus-within {
	outline: none;
	color: black;
}

.formDiv .inputContainer:focus-within {
	box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.buttonRow {
	display: flex;
}

.buttonRow button {
	width: 100%;
	padding: 0.75rem;

	font-weight: 600;
	border-radius: 0.5rem;
}

.faucetForm {
	gap: 0.5rem;
	justify-content: flex-start;
}

.faucetForm > div:first-child {
	display: flex;
	justify-content: space-between;
}

.faucetButtonRow {
	display: flex;
	justify-content: flex-start;
}

.faucetForm button {
	font-weight: 500;
	color: var(--clr-blue);
}

@media (max-width: 1200px) {
	.exchangeTables {
		flex: 2 !important;
	}
}

@media (max-width: 900px) {
	.exchangeContainer {
		flex-direction: column-reverse;
		overflow-y: auto;
	}
	:is(.orderItem, .pnlItem, .orderHistoryTable header, .pnlTable header)
		> *:nth-last-child(-n + 1) {
		display: none;
	}
}

@media (max-width: 600px) {
	:is(.orderItem, .pnlItem, .orderHistoryTable header, .pnlTable header)
		> *:nth-last-child(-n + 2) {
		display: none;
	}

	:is(.orderItem, .orderHistoryTable header) > *:nth-child(2) {
		display: none;
	}

	:is(.pnlItem, .pnlTable header) > *:nth-child(3) {
		display: none;
	}
}
