.coinView {
	padding: 2rem 3rem;

	justify-content: flex-start !important;
	gap: 2rem;
}

.coinHeader {
	/* padding: 1rem; */

	display: flex;
	flex-direction: column;
	/* gap: 1rem; */

	border-radius: 0.5rem;
	box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
		rgba(88, 102, 126, 0.12) 0px 1px 2px;
}

.coinSurHeader {
	padding: 1rem;

	display: flex;
	flex-direction: row;

	background: white;
	border-radius: 0.5rem;
}

.coinSurHeader > div {
	flex-basis: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	gap: 1rem;
}

.coinSurHeader > div:first-child {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.coinSurHeader > div:first-child > div:last-child {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.surHeaderName > div > div:first-child {
	font-weight: 700;
}

.surHeaderName > div > div:last-child {
	color: var(--grey-text);
}

.surHeaderCol > div:first-child {
	font-weight: 700;
}

.coinSubHeader {
	padding: 1rem 1rem;

	display: flex;
	justify-content: space-between;
}

.coinSubHeader img {
	height: 20px;
	width: 20px;
	border-radius: 25%;
}

.coinSubHeader > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.coinSubHeader > div:first-child {
	gap: 0.5rem;
}

.coinSubHeader i {
	cursor: pointer;
	font-size: 1.25rem;
}

.tickers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.tickers > div:first-child {
	font-weight: 700;
	font-size: 1.25rem;
}

.marketsHeader {
	padding: 0.75rem 0.5rem;

	display: flex;

	border-top: 0.5px solid var(--grey-border);
	border-bottom: 0.5px solid var(--grey-border);
}

.marketsHeader > div {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;

	font-weight: 500;
	/* font-size: 1.1rem; */
}

.marketsHeader > div:first-child {
	justify-content: flex-start;
}

.marketsHeader > div:first-child > div:first-child {
	flex: 1;

	font-weight: normal;
	color: var(--grey-text);
}

.marketsHeader > div:first-child > div:last-child {
	flex: 9;
}

.marketsTable > a {
	padding: 0.75rem 0.5rem;
}

.marketsTable > a:hover {
	background: rgb(248, 250, 253);
}

.tickerItem {
	display: flex;
	flex-direction: row;

	border-bottom: 0.5px solid var(--grey-border);
}

.tickerItem img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.tickerItem > div {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
}

.tickerItem > div:first-child {
	justify-content: flex-start;

	font-weight: 500;
}

.tickerItem > div:first-child > div:first-child {
	flex: 1;

	font-weight: normal;
	color: var(--grey-text);
}

.tickerItem > div:first-child > div:last-child {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	flex: 9;
}
