.nav {
	position: relative;
	padding: 1rem 3rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border-bottom: 1px solid var(--grey-border);
}

.col {
	display: flex;
	align-items: center;
	flex: 1;
}

.nav .col:nth-child(2n) {
	justify-content: center;
}

.nav .col:last-child {
	justify-content: flex-end;
}

.brand {
	font-size: 2rem;
	font-weight: 700;
	color: var(--clr-blk-button);
}

.brand i {
	margin-right: 0.5rem;

	font-size: 1.75rem;
	color: var(--clr-blue);
}

.spins i {
	transition: transform 0.65s cubic-bezier(0.8, -0.8, 0.2, 1.8) 0s;
}

.spins:hover i {
	transform: rotate(360deg);
}

/* nav menu */
