/* Resets */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	appearance: none;
}

:root {
	--clr-green: #82d318;
	--alt-green: #cbff00;
	--clr-grey: #81899d;
	--alt-grey: #7c8499;
	--bg-grey: #fafbfc;
	--light-grey: rgb(229, 232, 235);
	--clr-blue: rgb(32, 129, 226);

	--grey-hover: #f7f8fa;
	--grey-border: #c7cdd6;
	--bg-blue: rgb(32, 129, 226, 0.1);
	--clr-blk-button: rgba(4, 17, 29, 0.75);

	--shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);

	--clr-buy: #44af69;
	--clr-sell: #f8333c;
	--reddit: #ff4500;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Ubuntu', sans-serif;
	background: white;
}
